@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Jost", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

@layer base {
    :root {
        --background: 231 39% 7%;
        --foreground: 244 100% 97%;
        --card: 231 39% 7%;
        --card-foreground: 244 100% 97%;
        --popover: 231 39% 7%;
        --popover-foreground: 244 100% 97%;
        --primary: 138 100% 69%;
        --primary-foreground: 231 39% 7%;
        --secondary: 230 21% 37%;
        --secondary-foreground: 244 100% 97%;
        --muted: 231 39% 10%;
        --muted-foreground: 244 100% 97%;
        --accent: 226 32% 62%;
        --accent-foreground: 231 39% 7%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 244 100% 10%;
        --border: 231 39% 60%;
        --input: 231 39% 80%;
        --ring: 225 32% 60%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
